<html>
    <head>
        <meta charset="utf-8">
        <title>Fin de partie</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body onload="initApp()" >
        <div id="app">
            <h1>La partie est terminée

            <div id="podium">
                    <div v-for="(player , index) in getWinners()" > 
                        <avatar-card :ref="'podiumavatar'+player.id"
                        noname
                        :key="player.id"
                        :class="'finalist podium'+ (index+1)"
                        :avatar-name="player.name">
                        </avatar-card>
                    </div>
                </div>
        <div>
            <ul>
                <li v-for="(player , index) in getWinners()" > 
                        <avatar-card :ref="'avatarcard'+player"
                        :key="player.id"
                        :avatar-name="player.name">
                        </avatar-card>
                    {{ index +1 }}{{ index == 0? "er" : "ème" }} => {{ playersData[player.id].distance}} mètres restant</li>
                    <li v-for="(player , index) in getLosers()" > 
                        <avatar-card :ref="'avatarcard'+player"
                        :key="player.id"
                        :avatar-name="player.name">
                        </avatar-card>
                    {{ getWinners().length + index +1 }}{{ getWinners().length + index == 0? "er" : "ème" }} => {{ playersData[player.id].distance}} mètres restant</li>
            </ul>
        </div>      
         </div>


        <div><a href="index.html">Quitter</a></div>

        <script src="https://unpkg.com/vue@next"></script>
        <script src="js/utils.js" charset="utf-8"></script>
        <script src="jscomp/avatar-card.umd.js" charset="utf-8"></script>
        <script src="jscomp/player-list.umd.js" charset="utf-8"></script>
    <script src="js/endgame.js" charset="utf-8"></script>
    </body>

</html>
