<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Le Jeu de dés</title>
        <link rel="stylesheet" href="styles.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body onload="initApp()">
        <h1>Le Jeu de dés Marathon</h1>
        <div id="app">
            <div class="playerlist">
                <div v-for="item in players">
                    <div :class="gameData.curPlayer == item.id ?'myavatar':'notmyavatar'">
                        <div :id="'avatar_' + item.id" class="avatar-lobby"></div>  {{ item.name }}
                    </div>
                </div>
            </div>
            <h2>Welcome {{playerName()}}, it's turn {{turn+1}}</h2>
            <div v-if="didIWin()">
                <h1>You Win!</h1>
            </div>
            <div v-else-if="didILose()">
                <h1>You Lose!</h1>
            </div>
            <div v-else>
                <b>{{getPlayerAction()}}</b>
                <div>
                    {{ remain }} meters left
                </div>


                <label>Dés: </label><input onkeydown="autoCheck()" v-model="choice" type="number" name="" min="0" />
                <button v-on:click="mainPlayButton" type="button">{{ getPlayerAction() }}</button>
            </div>

            <svg
id="svg6684" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="height: 256px; width: 256px;"><path d="M0 0h512v512H0z" fill="#000" fill-opacity="1"></path><g class="" transform="translate(0,0)" style=""><path d="M74.5 36A38.5 38.5 0 0 0 36 74.5v363A38.5 38.5 0 0 0 74.5 476h363a38.5 38.5 0 0 0 38.5-38.5v-363A38.5 38.5 0 0 0 437.5 36h-363zM256 206a50 50 0 0 1 0 100 50 50 0 0 1 0-100z" fill="#fff" fill-opacity="1"></path></g></svg>
        </div>
        <script>
            function autoCheck() {
                if (event.key == "Enter") marathon.autoCheck();
            }
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.5.1/snap.svg-min.js"></script>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="js/utils.js" charset="utf-8"></script>
        <script src="avatars.js" charset="utf-8"></script>
        <script src="js/games/marathon.js" charset="utf-8"></script>
    </body>
</html>
