<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Notre jeu génial</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body onload="initApp()" >
      <div id="app">
    <h1>Your info:</h1>
    <img :src="`./img/avatar/${avatar}.svg`" class="avatar" />
    <br/>
    <input v-model:value="nickname" type="text" placeholder="nickname"></input>
    <select v-model="avatar" type="select">
      <option v-bind:value="1">Avatar 1</option>
      <option v-bind:value="2">Avatar 2</option>
      <option v-bind:value="3">Avatar 3</option>
    </select>
    <h1>Pick a game:</h1>
    <div>
        <div v-for="(info, game) in games" class="gamebutton">
          <span v-on:click.stop="play_game('{{game}}')">
            <div><b>{{game.toUpperCase()}}</b></div>
            {{info.description}}
          </span>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/utils.js" charset="utf-8"></script>
    <script src="js/home.js" charset="utf-8"></script>

  </body>
    <script>
  /*
        function eventHandler(event) {
            console.log(JSON.parse(event.data));
        }
        function onStreamEnd(event) {
            evtSource.close();
        }
        const evtSource = new EventSource("/stream?topic=sessionNameHere");
        evtSource.addEventListener("update", eventHandler);
        evtSource.addEventListener("end", onStreamEnd);
        */
    </script>
</html>
