.gamebutton {
    background-color: rgb(224, 224, 224);
}
.gamebutton:hover {
    background-color: rgb(229, 173, 173);
    cursor: pointer;
}
.avatar-saloon {
    max-height: 30px;
    vertical-align: bottom;
}