html {
    font-family: 'Roboto', sans-serif;
    background-image: url("./img/bg_light.svg");
    background-color: #e4ebf5;
}
.playerlist {
    float: right;
}

.myavatar {
    background-color: rgba(255, 255, 0, 0.3);
}

.avatar {
    max-height: 128px;
}
.avatar-saloon {
    max-height: 30px;
    display: inline-block;
    transform-origin: top left;
    margin-left: 200px;
    vertical-align: bottom;
    scale: 0.1;
}

.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color: #7d54fb;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  border-radius: 10px;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{

  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:400px;
  }
}

.container {
            background-color: #e4ebf5;
            width: 334px;
            height: 204px;
            padding: 12px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 8px;
            box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.7);
}

.container:hover {

              box-shadow: inset 9px 9px 16px rgb(163,177,198,0.6), inset -9px -9px 16px    rgba(255,255,255, 0.7);
}

input {
       width: 300px;
       height: 33px;
       margin-left: 8px;
       margin-top: 8px;
       padding: 3px;
       border-radius: 5px;
       border: 0px;
       transition: 0.4s ease-in-out;
}

input:hover {
             transform: scale(1.05,1.05);
}

input:focus {
              color: #151515;
              font-family: 'Josefin Sans', sans-serif;
              font-size: 18px;
              outline: none;
              padding-left: 10px;
              border-left: 5px solid #00A4FF;
}

select {
display: block;
margin: 0 auto;
}
/* Avatar */
svg {
    position:absolute;
    top:0;
    left:0;
    width:360px;
    height:360px;
}
#avatar {
    position:relative;
    margin:auto;
    width:360px;
    height:460px;
}

.skins,.eyes,.eyebrows,.mouths,.hairstyles,.haircolors,.facialhairs,.clothes,.fabriccolors,.backgroundcolors,.glasses,.glassopacity,.tattoos,.accesories {
    flex: 0 0 auto;
    top:0;
    width:53px;
    height:53px;
    margin:5px;
    border:1px solid #707070;
    cursor:pointer;
    border-radius:10px;
    background-color:#ffdbb4;
}
.eyes,.eyebrows,.mouths,.hairstyles,.facialhairs,.clothes,.glasses,.tattoos,.accesories {
    background-image:url(https://i.imgur.com/q0DdlUI.png);
}
.glassopacity {
    text-align:center;
    font-size:21px;
    font-weight:bold;
    height:43px;
    padding-top:10px;
    color:#707070;
}
