@import "./base.css";

/* TODO: this may move to base */
body {
  font: "Aliens Among Us", sans-serif;
}

@font-face {
  font-family: "Aliens Among Us";
  src: url("/fonts/Aliens Among Us.ttf");
}

@font-face {
  font-family: "Aliens Among Us Italic";
  src: url("/fonts/Aliens Among Us Italic.ttf");
}

.btn {
  @apply font-bold py-2 px-4 rounded-full m-2 bg-lime-600 text-center;
}
.btn:hover {
  @apply brightness-125 -hue-rotate-15;
}
.btn-main {
  @apply bg-blue-500 text-white;
}
.maintitle {
  @apply text-center text-4xl lg:text-6xl  font-title;
}

.smallbtn {
  @apply py-0 px-1 rounded m-2 bg-lime-600;
}
.smallbtn:hover {
  @apply brightness-125 -hue-rotate-15;
}

.navlink {
  @apply py-0 px-1 rounded m-2 bg-slate-800 text-slate-300;
}
.navlink:hover {
  @apply text-slate-100;
}
/* vue transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.flip-list-move {
  transition: transform 0.8s ease;
}
